* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins";
}
html,
body {
  height: 100%;
  width: 100%;
}
#container {
  height: 100vh;
  width: 100%;
  background: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cards {
  height: 50vh;
  width: 40%;
  background: #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vw 4vw;
}
.elem {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.numbers {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

input {
  outline: none;
  border: none;
  padding: 0.5vw;
  border-radius: 5px;
  background: #937f7f;
  cursor: pointer;
}

.addMe {
  padding: 0.5vw 1vw;
  color: #000;
  margin-right: 25px;
  border-radius: 50%;
  border: none;
  background: #008000;
}
.final {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.Output {
  width: 25%;
  height: 30px;
  background: #ffffff87;
  color: #000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reset {
  padding: 0.5vw;
  border: none;
  border-radius: 5px;
  color: #000;
  background: #ff0000;
}
